@charset "UTF-8";
// ハンバーガーボタンのみ（閉じるボタンの切り替わりなし）

.hamburger-btn {
    /* ボタンの配置位置  */
    position: fixed;
    top: 100px;
    right: 16px;
    /* ボタンの大きさ  */
    width: 48px;
    height: 48px;
    /* 最前面に */
    z-index: 10;
  }

  /***** 真ん中のバーガー線 *****/
.hamburger-btn-line {
	display: block;
	position: relative;  /* バーガー線の位置基準として設定 */
	width: 100%;  /* 線の長さと高さ */
	height: 4px;
	background-color: #000000;  /* バーガー線の色 */
	transition: .2s;
}

/****** 上下のバーガー線 *****/
.hamburger-btn-line::before,
.hamburger-btn-line::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  transition: .5s;
}
.hamburger-btn-line::before {
  /* 上の線の位置 */
  transform: translateY(-16px);
}
.hamburger-btn-line::after {
  /* 下の線の位置 */
  transform: translateY(16px);
}